/*-------------------*/
/* Standaard shizzle */
/*-------------------*/
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  height: 100%; 
}

body {
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 0;
  margin: 0;
  height: 100%;
}

#thesis {
}

.item {
  padding-bottom: 400px;
  width: 70%;
  margin: 0 auto;
}

#print {
  display: none;
}

/*#pageFooter {
  display: none;
}*/



/*-----------------*/
/* Alles met tekst */
/*-----------------*/

/*  
    h1  titel scriptie
    h2  titel hoofdstuk
    h3  subkop hoofdstuk
*/

h1  {
  /*variabel*/
  left: 0;
  font-size: 140pt;
  line-height: 100pt;
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  padding: 15px;
}

h2 {
  /*variabel*/
  left: 0;
  width: 60%;
  font-size: 50pt;
  /*-webkit-animation: whisper 7s ease-in-out infinite; /*infinite*/
  /*-moz-animation: whisper 7s ease-in-out infinite;*/

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  padding: 15px;
}

h3 {
  /*variabel*/
  left: 0;
  width: 60%;
  font-size: 24pt;
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  padding: 15px;
}

blockquote {
  /*variabel*/
  left: 0;
  width: 60%;
  font-size: 40pt;
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 400;
  padding: 15px;

}

p {
  /*variabel*/
  left: 0;
  width: 60%;
  font-size: 12pt;
  line-height: 18pt;  
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 30px;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

ul, ol {
  margin-top: 20px;
  padding-left: 0px;

}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #00f;
}

nav {
  width: 200px;
  margin-left: 0;
}



/*-------------------*/
/* alles met menutje */
/*-------------------*/


#menu {
  margin: 20px;
  font-size: 14px;
  position: fixed;
  width: 200px;
  float: left;
  /*background-color: #fff;*/
  padding: 0;
}

#menu>a {
  cursor: pointer;
}

#menu-lijst {
  display: none;
  position: absolute;
  width: 200px;
  float: left;
  padding: 0;
}

#menu:hover #menu-lijst{
  display: block;
}


/*-----------------*/
/* alles met about */
/*-----------------*/


#about {
  z-index: 90; 
  margin: 20px;
  font-size: 14px;
  position: fixed;
  float: left;
  width: 200px;
  top: 0;
  right: 0;
  text-align: right;

  /*background-color: #fff;*/
  padding: 0;
}

#about>a {
  cursor: pointer;
}

#about-lijst {
  text-align: right;
  display: none;
  position: absolute;
  width: 200px;
  padding: 0;
}

#about:hover #about-lijst{
  display: block;
}

/*--------------------*/
/* alles met abstract */
/*--------------------*/


#abstract {
  z-index: 90; 
  margin: 20px;
  font-size: 14px;
  position: fixed;
  float: left;
  width: 200px;
  bottom: 0;

  /*background-color: #fff;*/
  padding: 0;
}

#abstract>a {
  cursor: pointer;
}

#printbutton {
  z-index: 90; 
  margin: 20px;
  font-size: 14px;
  position: fixed;
  float: left;
  width: 200px;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 0;
}


/*---------------------*/
/* alles met footnotes */
/*---------------------*/

.toggle-footnote::before{
  content: "[";
}
.toggle-footnote::after{
  content: "]";
}

.footnote {
  display: none;
  position: absolute;
  background-color: #000;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  width: 200px;
  padding:10px;
  right: 30px;
  margin-top: -40px;
}

p>a {
  position: relative;
  font-size: 10px;
  top: -7px;
}

blockquote>a {
  position: relative;
  font-size: 10px;
  top: -15px;
}


/*--------------------*/
/* afbeelding divjes! */
/*--------------------*/

.image-left {
  position: absolute;
  left: 10%;
  width: 300px;
  background-color: pink;
  margin:15px;
  padding: 15px;
  opacity: 0.2;
  z-index: 40;
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
}

.image-right   {
  position: absolute;
  right: 10%;
  width: 300px;
  background-color: #000;
  margin:15px;
  padding: 15px;
  opacity: 0.2;
  z-index: 40;
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
}

.video   {
  position: absolute;
  right: 10%;
  width: 560px;
  background-color: #000;
  margin:15px;
  margin-top: -200px;
  padding: 15px;
  opacity: 0.2;
  z-index: 40;
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
}

.image-left:hover {
  opacity: 1;
  -webkit-filter: blur(0px);
}

.image-right:hover {
  opacity: 1;
  -webkit-filter: blur(0px);

}

.video:hover {
  opacity: 1;
  -webkit-filter: blur(0px);

}


img {
  padding-bottom: 5px;
  width: 300px;
}
sub {
  font-size: 11px;
  color: #fff;
}


/*----------------*/
/* alle animaties */
/*----------------*/


@-webkit-keyframes whisper {
  0%   {padding-left:60px;}
  50%  {padding-left:20px;}
  100% {padding-left:10px;}
}

@-moz-keyframes whisper {
  0%   {padding-left:0px;}
  50%  {padding-left:30px;}
  100% {padding-left:0px;}
}

@-webkit-keyframes opacity {
  0%   {opacity:0.3;}
  100% {opacity:1;}
}

@-moz-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
